.resume-head {
  display: flex;
}

.head-profile-pic {
  flex: 0.3;
  display: flex;
  padding: 35px;
}

.head-profile-header {
  flex: 0.7;
  padding: 3rem 0 0rem 1rem;
}

.head-profile-header h2 {
  font-size: 2rem;
  line-height: 1.5;
}

.head-profile-header h4 {
  font-size: 1rem;
  font-weight: normal;
}

.head-profile-header p {
  font-size: 0.7rem;
}

.head-details img {
  margin-right: 0.5rem; /* Add space between icon and text */
  vertical-align: middle; /* Align icon vertically with text */
  display: inline-block;
}

.head-details {
  line-height: 1.8;
  display: flex;
  gap: 5px;
  align-items: center;
}

.profile-button {
  background-image: url("./assets/profile-circle-svgrepo-com.png");
  background-size: cover;
  background-position: center;
  width: 20vw;
  height: 20vw;
  max-width: 150px; /* Set a maximum width */
  max-height: 150px;
  border-radius: 50%;
  border: none;
  padding: 0;
}

.head-phone {
  width: 15px;
  height: 15px;
}

.head-email {
  width: 15px;
  height: 15px;
}

.head-website {
  width: 15px;
  height: 15px;
}

.profile-button:hover {
  transform: scale(1);
}
