.resume-head {
  display: flex;
}

.head-profile-pic {
  flex: 0.3;
  padding: 1rem 0 0rem 1rem;
  display: flex;
}

.head-profile-header {
  flex: 0.7;
  padding: 3rem 0 0rem 1rem;
}

.head-profile-header h2 {
  font-size: 2rem;
  line-height: 1.5;
}

.head-profile-header h4 {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 10px;
}

.head-profile-header p {
  font-size: 0.7rem;
}

.head-details {
  line-height: 1.8;
  display: flex;
  gap: 5px;
  align-items: center;
}

.profile-button {
  background-image: url("./assets/profile-circle-svgrepo-com.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: auto;
  width: 25vw;
  height: 25vw;
  max-width: 200px; /* Set a maximum width */
  max-height: 200px;
  border-radius: 50%;
  border: none;
}

.head-phone {
  background-image: url("./assets/phone.svg");
  width: 15px;
  height: 15px;
}

.head-email {
  background-image: url("./assets/email.svg");
  width: 15px;
  height: 15px;
}

.head-website {
  background-image: url("./assets/web.svg");
  width: 15px;
  height: 15px;
}

.profile-button:hover {
  transform: scale(1);
}
